<ion-view view-title="About">
  <ion-content class="padding">
   <center> <h2>Welcome to Walkscore</h2>
    <img ng-src= "img/miamismall.jpg" alt= "Miami" align="center" >
    <p>
    Walkscore is an application which will allow you to view the walkability of certain cities, neighborhoods, and areas. 
    </p>
    <p>
     To find out the top five cities with the best walkscores, click the "Walkscores" tab. Then, you can also search any city, neighborhood, or area of your choice! 
    </p>
    <p>
    If you need help with finding walking directions to places around where you are, or seeing how to get places by foot in other cities, we have integrated Google Maps in order to help you with this. 
    </p> </center>

  </ion-content>
</ion-view>
