<ion-view view-title="Top Five Cities">
  <ion-content class="padding">
   <center> <h2>Cities With the Best Walkability</h2>
  		
   
 
  <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/search"> <img ng-src="img/nyc.jpg">
        <h2>New York</h2>
        <p>Walkscore = 89</p>
        <i class="icon ion-chevron-right icon-accessory"></i> </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/search"> <img ng-src="img/SF.jpg">
        <h2>San Francisco</h2>
        <p>Walkscore = 86</p>
        <i class="icon ion-chevron-right icon-accessory"></i> </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/search"> <img ng-src="img/boston.jpg">
        <h2>Boston</h2>
        <p>Walkscore = 81</p>
        <i class="icon ion-chevron-right icon-accessory"></i> </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/search"> <img ng-src="img/philadelphia.jpg">
        <h2>Philadelphia</h2>
        <p>Walkscore = 78</p>
        <i class="icon ion-chevron-right icon-accessory"></i> </ion-item>

        <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/search"> <img ng-src="img/miami.jpg">
        <h2>Miami</h2>
        <p>Walkscore = 78</p>
        <i class="icon ion-chevron-right icon-accessory"></i> </ion-item>
    </ion-list>



     <p>
    These cities are among the best in the world, and the top five in America for walkability. Click each one to learn more about the cities and why they got these high Walkscores. 
    </p>

  </ion-content>
</ion-view>